#column1
	+column(12)
	+append(2)
	min-height: 500px
	background-color: white
	border: solid 1px #ccc
	padding: 20px

#column2
	+column(9,true)
	min-height: 500px
	background-color: white
	border: solid 1px #ccc
	padding: 20px

#news_section > h1
	font-size: 28px
	font-weight: bold
	padding-bottom: 3px
	border-bottom: solid 1px #10a73f
	margin-bottom: 30px
header .news > h1
	font-size: 20px
	font-weight: bold
	color: #555
	
header .news > p.data
	color: #10a73f
	margin-top: -8px
	font-size: 10px