#news_index_section
	+column(22)
	background-color: white
	min-height: 200px
	border: solid 1px #ccc
	padding: 20px
	table
		tr
			th:nth-child(1), td:nth-child(1)
				
				+span(4)
			th:nth-child(2), td:nth-child(2)
				+span(11)
			th:nth-child(3), td:nth-child(3)
				+span(2)
			th:nth-child(4), td:nth-child(4)
				+span(5)
		tr:nth-child(even)
			background-color: #eee	