@import "compass/css3";

.ui-icon-snowcentral-news{
  background-image: url("/images/icons/news.png")
}

.ui-icon-snowcentral-user{
  background-image: url("/images/icons/user.png")
}

img {
  width: 100%;
  border: solid 1px #ccc;
}

div[data-role="content"] h1{
  font-size: 1.5em;
   @include single-text-shadow(#bbb,0px,0px,5px)
}

