$blueprint-font-family: Helvetica, Arial, sans-serif;

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";

//Import the grid module

@import "blueprint/grid";
@import "blueprint/debug";

@import "compass/css3/opacity";
@import "compass/utilities/lists";
@import "blueprint/form";
// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
//@include blueprint-scaffolding("body");


body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;

  
  background: {
  	color:#f0f0f0;
  }
  
}

#grid{
	@include container;
	//@include showgrid;
	//@include opacity(0.8);
}

#header_grid{
	@include container;
	//@include showgrid;
	//@include opacity(0.8);
}


#pages_header{
	//height:132px;
	width:100%;
	background-color:#202020;
	#logo{
		position:relative;
		margin-left:50%;
		left:(-($blueprint-container-size/2)) - 10px;
		padding-top:16px;
	}

}

#main_nav{
	width:$blueprint-container-size;
	position:relative;
	margin-left:50%;
	left:(-($blueprint-container-size/2));
	font-family: Helvetica, Arial, Verdana, 'Lucida Sans', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	padding-bottom:18px;
	ul{
		@include horizontal-list;
		li{
			padding-right:20px;
			a{
				color:white;
				text-decoration:none;
			}
			a:hover{
				color: #10a73f;
				border-bottom: 1px solid #10a73f;
			}
		}
	}
	
}

#breadcrumb_nav{
	height:28px;
	background-color:white;
	border-bottom:1px solid #CCC;
	ul{
		@include horizontal-list;
		position:relative;
		width:$blueprint-container-size;
		margin-left:50%;
		left:(-($blueprint-container-size/2));
		li{
			
			padding-right:20px;
			a{
				color:#666;
				text-decoration:none;
			}
		}
	}
}
#main{
	padding-top:18px;
}

footer{
	height:200px;
	padding-top:20px;
	hr{
		height: 6px;
		background-color:#10a73f;	
	}
}

#flashes{
	.alert{
		background-color:#FF4040;
		padding-top:10px;
		height:30px;
		width:100%;
		text-align:center;
		border: solid 3px red;
	}
	.notice{
		padding:0px;
		padding-top:10px;
	
		height:30px;
		width:100%;
		text-align:center;
		border: solid 3px #ffea68;
		margin:0px;
	}
}

#close_flash{
	content:"x";
	width:20px;
	height:20px;
	float:right;
	margin-top:-16px;
	margin-right:20px;
}

#close_flash:after{
	content:"x";
	font-size:30px;
}
#close_flash:hover:after{
	text-decoration: underline;
}


#session_info{
	//background-color:white;
	//padding-right:20px;
	width:400px;
	left:$blueprint-container-size;
	margin-left: -235px;
	text-align:right;
	position:absolute;
	top:90px;
	font-family: $blueprint-font-family;
	font-size:18px;
	font-weight:bold !important;
	a{
		color:white;
		text-decoration:none;
	}
	z-index:2;
}
@import 'partials/home';
@import 'partials/user';