#admin_page
	#manage_users
		- link_to :controller => :user, :action => :index do
			= "Utenti"
	#manage_news
		- link_to :controller => :news, :action => :index do
			= "News"
	#manage_products
		- link_to :controller => :user, :action => :index do
			= "Utenti"
	#manage_comments
		- link_to :controller => :user, :action => :index do
			= "Utenti"