#column1
	col1
#column2
	%section#news
		%header#news_section
			%h1
				=t 'news_header'
			%article.news
				%header.news
					%h1
						Prova News
					%p
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac est a nisi posuere congue. Pellentesque vitae nulla felis, non pellentesque nunc. Quisque volutpat ullamcorper eleifend. Praesent rhoncus ullamcorper consequat. Quisque feugiat aliquet massa, eu congue ipsum sagittis commodo. Sed pretium scelerisque vestibulum. Quisque aliquet eleifend justo tincidunt eleifend. Nulla egestas, nunc et aliquet fermentum, diam augue volutpat sem, id placerat urna nisi et dui. Praesent quis purus leo, nec interdum ante. Nam eu mauris et odio sodales vestibulum vel vel eros. Sed sit amet sapien pharetra massa ullamcorper semper. Donec pellentesque auctor felis, at scelerisque nunc tempus in. Duis fringilla viverra nulla, id tincidunt lorem fermentum vitae. Etiam consectetur erat ullamcorper ipsum faucibus tempus. Etiam congue lobortis eros, nec consectetur justo venenatis id.
		
	