#column1
	col1
#column2
	%section#news
		%header#news_section
			%h1
				=t 'news_header'
			-for n in @news do
				%article.news
					%header.news
						%h1
							=n.title
						%p.data
							Publicato il:
							=n.created_at.to_formatted_s :short
					%p
						=n.body
			
		