%section#user_index_section

	#left_col
		=image_tag @user.avatar.url(:thumb)
	#right_col
		%p
			%label
				Email:
			= @user.email



/	
	%p
		%b Body:
		
	
	= link_to 'Edit', edit_user_path(@user)
	|
	\#{link_to 'Back', :back}
