= render "search_form"  

.container
  -@products.each_with_index do |product,index| 
    =render :partial => 'product', :locals => {:product => product,:last=>(index+1)%3==0}

=link_to 'New Product', new_product_path 
